<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/layouts/navigation-bar.css">
    <link rel="stylesheet" href="/src/styles/vendor/reset.css">
    <link rel="stylesheet" href="/src/styles/global.css">
</head>
<body>
    <div id="navigation-bar">
        <nav>
            <ul>
                <li><a href="/" target="_parent">Home</a></li>
                <li><a href="/projects" target="_parent">Projetos</a></li>
                <li><a href="/certificates" target="_parent">Certificados</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>