<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/vendor/reset.css">
    <link rel="stylesheet" href="/src/styles/global.css">
    <link rel="stylesheet" href="/src/styles/layouts/project-card.css">
</head>
<body>
    <div class="project-card">
        <img src="/src/assets/temp/project-image.jpg" alt="Imagem do Projeto">
        <h3>Titulo do Projeto</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae voluptatem ab repellendus vel eos
            dolores sit a voluptatum consequuntur nesciunt id ad mollitia, impedit, hic doloremque maxime at est.</p>
        <a href="" target="_blank">Ver Projeto</a>
    </div>
</body>
</html>